body {
   display: flex;
   justify-content: center;
}

div#main  {
   position: absolute;
   box-sizing: border-box;
   width: 840px;
   height: 480px;
   border: 1px solid black;
   margin: 10px;
}

div#realheader {
   position: relative;
   height: 0px;
   font-size: xx-small;
   top: 4px;
   left: 10px;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   font-variant: small-caps;
}

h1#backer {
   position: relative;
   box-sizing: border-box;
   width: 617px;
   height: 34px;
   border: 1px solid #260130;
   margin: 10px;
   left: 10px;
   top: 14px;
}

h2#text {
   position: relative;
   height: 36px;
   margin: 10px;
   bottom: 66px;
   font-size: 70px;
   font-family: 'Gill Sans';
   font-weight: 200;
}

#grape-info {
   position: relative;
   box-sizing: border-box;
   width: 158px;
   height: 400px;
   border: 3px solid #260130;
   margin: 10px;
   left: 660px;
}

