body {
   
}

div#main  {
   position: absolute;
      box-sizing: border-box;
      width: 840px;
      height: 630px;
      border: 20px solid #969696;
      background: #d9dbda;
      margin: 10px;
}


#grape-info {

}