body {
   display: flex;
   justify-content: center;
}

div#main  {
   position: absolute;
   box-sizing: border-box;
   width: 750px;
   height: 403px;
   border: 1px solid black;
   top: 41px;
}

div#realheader {
   position: relative;
   height: 0px;
   font-size: x-small;
   top: px;
   left: 10px;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
}

#realheader > * {
   font-size: 0px;
}

h1#backer {
   position: relative;
   box-sizing: border-box;
   width: 600px;
   height: 40px;
   border: 1px solid #260130;
   bottom: 10px;
   left: 6px;
}

h2#headertext {
   position: relative;
   height: 36px;
   bottom: 93px;
   left: 4px;
   font-size: 36px;
   font-weight: 100;
   font-family: 'Times New Roman';
}

span#underheadertext {
   display: block;
   position: relative;
   left: 18px;
   bottom: 10px;
   font-size: 13px;
}

#grape-info-backer {
   position: relative;
   box-sizing: border-box;
   width: 128px;
   height: 380px;
   border: 1px solid #260130;
   background-color: white;
   margin: 10px;
   left: 607px;
   bottom: 126px;
}

#grape-header {
   position: relative;
   font-size: 14px;
   left: 8px;
   top: 4px;
}

#grape-image-border {
   position: relative;
   box-sizing: border-box;
   width: 118px;
   height: 64px;
   border: 1px solid #260130;
   background-color: white;
   left: 4px;
   top: 13px;
}

#grape-text {
   position: relative;
   bottom: 4px;
   left: 2px;
   font-size: 10px;
   width: 124px;
}

#github {
   position: relative;
   left: 429px;
   top: 37px;
}

#map-container {
   position: relative;
   box-sizing: border-box;
   width: 600px;
   height: 327px;
   border: 1px solid #260130;
   bottom: 472px;
   right: 1px;
}

#graphe-representation {
   position: relative;
   box-sizing: border-box;
   width: 128px;
   height: 128px;
   border: 1px solid #260130;
   background-color: white;
   margin: 10px;
   top: 298px;
   left: 149px;
}

